////////////////
// Contents
////////////////
//  1: main setup
//    1a: fonts
//    1b: normalize
//    1c: colors
//    1d: other variables
//    1e: mq sizes
//    1f: standard styling
//  2: Header
//  3: Notes index
//  4: Single Note
//  5: Notes Form
////////////////
// 1:main setup
////////////////
// import fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// normalize everything
* {
  padding: 0;
  margin: 0;
}

// colors
$nice_grey: #F7F7F7;
$light_blue: #59afe1;
$light_blue_hover: #579ecf;
$error_red: #C55340;

// other variables

$box_shadow: 0px 2px 3px rgba(0, 0, 0, 0.13);
$border_radius: 3px;

// MQ sizes
$sm: 768px;
$md: 992px;
$lg: 1200px;

//standard styling
body {
  font-family: 'Roboto', sans-serif;
  background-color: $nice_grey;
  color: #393939;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

}

hr {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 15px;
}

.clear_both {
  clear: both;
}

@mixin button-styling() {
  i {
    padding-right: 10px;
    font-size: 20px;
  }
  a {
    background-color: $light_blue;
    color: white;
    border-radius: $border_radius;
    margin-right: 15px;
    padding: 10px 15px;
    text-decoration: none;
  }
  a:hover {
    background-color: $light_blue_hover;
  }
}

p {
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.5px;
}

////////////////////
// 2:Header
////////////////////

.nav_bar {
  float: right;
  margin-top: 35px;
  padding-left: 15px;
  @include button-styling();
}

////////////////////
// 3:Notes index
////////////////////

.notes_list {
  margin-top: 20px;
  h1 {
    margin-bottom: 15px;
    padding-left: 7px;
  }
  .single_note_container {
    width: 100%;
    margin-bottom: 25px;
    display: inline-block;
    border-radius: $border_radius;
    @media only screen and (min-width: $sm) {
      width: 50%;
    }
    @media only screen and (min-width: $md) {
      width: 33.33%;
    }
    @media only screen and (min-width: $lg) {
      width: 25%;
    }
    .single_note {
      box-shadow: $box_shadow;
      background-color: #fff;
      margin: 0 7px;
      padding: 15px;
      h3 {
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: 300;
      }
      p {
        margin-bottom: 15px;
      }
      .main_detail_area {
        min-height: 200px;
      }
      a {
        color: $light_blue;
        text-decoration: none;
      }
    }
  }

}

.no_notes_to_show {
  background: #fff;
  padding: 70px 10px;
  box-shadow: $box_shadow;
  h2 {
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
  }
  a {
    color:$light_blue;
    text-decoration: none;
  }
  a:hover {
    color:$light_blue_hover;
  }

}

////////////////////
// 4:Single Note
////////////////////

.note_single {
  margin-top: 30px;
  width: 100%;

  .note_contents {
    box-shadow: $box_shadow;
    background-color: #fff;
    padding: 30px 25px;
    min-height: 25px;
    h1 {
      margin-bottom: 15px;
    }
    p {
      margin-top: 25px;
    }
    @media only screen and (min-width: $md) {
      padding: 40px 35px;
    }
  }
  .actions_section {
    margin-top: 25px;
    @include button-styling();
    button {
      color: white;
      border-radius: $border_radius;
      padding: 10px 15px;
      border: none;
      font-size: 16px;
      background-color: $error_red;
      float: right;
      position: relative;
      top: -8px;
      cursor: pointer;
    }
  }
}

////////////////////
// 5:Notes Form
////////////////////

.notes_app_form {
  margin-top: 30px;
  form {
    font-size: 16px;
    @include button-styling();
    input, textarea {
      width: 100%;
      padding: 15px;
      font-size: 16px;
      margin-top: 20px;
      border-radius: $border_radius;
      border: none;
      box-shadow: $box_shadow;
    }
    button {
      background-color: $light_blue;
      color: white;
      border-radius: $border_radius;
      margin-right: 15px;
      padding: 10px 15px;
      border: none;
      font-size: 16px;
      margin-top: 20px;
      cursor: pointer;
    }
    label {
      margin-top:15px;
      display:block;
    }
    .text-red {
      color:$error_red;
      margin-top:10px;
      display:block;
    }

  }
}